@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background-color: #000000;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #000000 20%,
      #000000 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #000000 20%,
        #000000 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#1e293b 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #1e293b 2px, #000000 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-blend-mode: normal, difference, difference, normal;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

/* 
body {
  overflow: hidden;
} 
*/
